@charset "UTF-8";

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: $font-family-primary;
    font-size: 16px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-family-primary;
    line-height: 1.25em;
    color: $light;
    font-weight: normal;
}

h1 {
    font-size: 40px;
    margin: 0 0 2.5rem;
}

h2 {
    font-size: 36px;
    margin: 0 0 2rem;
}

h3 {
    font-size: 30px;
    margin: 0 0 1.5rem;
}

h4 {
    font-size: 26px;
    margin: 0 0 1rem;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

.text-red {
    color: $red !important;
}

div.separator {
    width: 70px;
    height: 2px;
    background: $light-gray;
    margin: auto;
    margin-top: 1.25rem;
}

p {
    font-family: $font-family-primary;
    padding-top: 0;
    margin: 0;
    line-height: 1.2rem;
}

a {
    text-decoration: none;
}

.text-light {
    color: $light;
}

.bold {
    font-weight: bold;
}

.wrapper {
    width: 90%;
    margin: auto;
}

.content-wrapper {
    width: 80%;
    margin: auto;
}

.d-none {
    display: none !important;
}


/********************
    Width and Height
*********************/
.w-100 {
    width: 100%;
}
.w-50 {
    width: 50%;
}

.h-100 {
    height: 100%;
}


/********************
    Flexbox - basic
*********************/

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

//flex combine
.flex-layout {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/********************
    Buttons
*********************/
%button {
    box-sizing: border-box;
    border-radius: 12px;
    display: inline-block;
    padding: 10px 28px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    color: $light;
    margin-right: 20px;
    transition: .3s;

    &:hover {
        transform: rotate(-1deg) scale(1.02);
        transition: .3s;
    }
}

a.button.transparent {
    @extend %button;
    border: 1px solid $light;
}

a.button.red {
    @extend %button;
    background: $red;
    border: 1px solid $red;
}

a.button.blue {
    @extend %button;
    background: $blue;
    border: 1px solid $blue;
}

/********************
    Slider
*********************/
%sliderButton {
    
    background: $light;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgba(181,181,181,1);
    transition: .3s;

    &:focus {
        outline: none;
    }

    &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        color: $dark-blue;
    }
}

button.VueCarousel-navigation-button.VueCarousel-navigation-next {
    transform: translateX(-50%);
    @extend %sliderButton;
    &:after {
        content: "\f054";
    }

    &:active {
        transform:translateX(-50%) scale(.95);
        transition: .3s;
    }
}

button.VueCarousel-navigation-button.VueCarousel-navigation-prev {
    transform: translateX(50%);
    @extend %sliderButton;
    &:after {
        content: "\f053";
    }

    &:active {
        transform:translateX(50%) scale(.95);
        transition: .3s;
    }
}

button.VueCarousel-navigation-button.VueCarousel-navigation-prev.VueCarousel-navigation--disabled, 
button.VueCarousel-navigation-button.VueCarousel-navigation-next.VueCarousel-navigation--disabled {
    display: none !important;
}