// Colors
$primary-bg-color: #22315b;
$green: #22a47b;
$light-green: #47ddae;
$blue: #6767f4;
$dark-blue: #1c284b;
$red: #dd5757;

$light: #fff;
$dark: #111;
$gray: #ebedf2;
$dark-gary: #666666;

// Fonts
$font-family-primary: helvetica;